@media only screen and (max-width: 470px) {
  .create-navers-wrapper {
    margin-top: 1rem;
  }

  .navers-search-input-wrapper {
    margin-right: 0;
  }

  .search-naver-form  {
    width: 100% !important;
  }
}
